# macOS
.DS_Store

# Node.js
node_modules/
Final_Front/node_modules/
Final_Front2/node_modules/
Final_Front4/node_modules/
Final_Back/express/node_modules/
Final_Back/fastapi/venv/

# Python cache
__pycache__/
*.pyc

# Upload artifacts
Final_Back/express/src/uploads/

# MongoDB data
Final_Back/mongodb_data/

# FastAPI static files (gradcam images)
Final_Back/fastapi/app/static/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.development.local
.env.local
.env.production.local
Final_Back/express/.env
Final_Back/fastapi/.env

# model weights
*.pth

# Vscode
*.vscode/